<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>使用者登入</h1>
  <form action="">
    <label for="email">email：<input type="email" id="email"></label>
    <label for="password">password：<input type="password" id="password"></label>

    <button type="button" value="login">送出</button>
  </form>
</body>

</html>